/* ========== MAIN ========== */
/* ////////////////////////////// INDEX.HTML ////////////////////////////// */
/* ========== BIENVENIDA ========== */
.bienvenida {
    &__video {
        width: 100%;
    }
}

/* ========== SUSCRIPCIÓN ========== */
.suscripcion {
    width: 100%;
    height: auto;
    background: $fondo-suscripcion;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
    
    &__contenedor {
        width: 40%;
        height: 300px;
        margin: 0 auto;
        padding-top: 80px;
    }
    
    &__titulo {
        text-align: center;
        color: $color-blanco;
    }
    
    &__form {
        width: 100%;
        margin: 0 auto;
        display: flex;
    }
    
    &__form--email {
        width: 100%;
        height: 40px;
        border-radius: 5px;
    }
    
    &__form--submit {
        width: 100px;
        height: 40px;
        font-family: $fuente-secundario;
        font-size: $fuente-btn;
        background-color: $color-secundario;
        font-weight: 500;
        border-radius: 5px;
    }
}

/* ========== CLIENTES ========== */
.clientes {
    &__titulo {
        text-align: center;
        color: $color-negro;
    }
    
    &__contenedorLogos--link {
        display: inline-block;
        width: 155px;
    }
    
    &__contenedorLogos--img {
        width: 100%;
    }
}
/* ////////////////////////////// ACERCA.HTML ////////////////////////////// */
/* ========== HISTORIA ========== */

/* ========== EQUIPO ========== */
.equipo {
    margin: 0 auto;

    &__contenedorIntegrantes {
        padding: 30px;
    }
    
    &__informacion {
        background-color: $color-primario;
    }
    
    &__img {
        width: 100%;
    }
    
    &__nombre,
    &__funcion {
        color: $color-blanco;
    }
    
    .equipo__nombre {
        font-size: $fuente-sub-titulo;
    }
    
    .equipo__funcion {
        font-size: $fuente-parrafo;
    }
    
    .equipo__link {
        text-decoration: none;
    }
    
    .equipo__icono {
        font-size: 25px;
        color: $color-blanco;
        margin: 5px 5px 0px 5px;
    }
}